# Don't track content of these folders
2_ Astrophysique Stellaire (AS)/
3_ Milieu Interstellaire (MIS)/
4_ Cosmologie Observationelle (CO)/
5_ Instrumentation Astrophysique (IA)/
6_ Formation et Evolution des Galaxies (FEG)/
7_ Formation Stellaire et Planétaire (FSP)/
10_Stage/
11_ Présentations - Rapports/
12_Thèses/Jeremy_Blaizot_CRAL
12_Thèses/Anna_Pille_PhD/Illustris-3
12_Thèses/Anna_Pille_PhD/illustris_python
12_Thèses/Anna_Pille_PhD/TNG100-2-Subbox0
12_Thèses/Anna_Pille_PhD/TNG100-3-Subbox1
XX_Grades/
.gitignore


# Compiled source #
###################
*.com
*.class
*.dll
*.exe